<html>
<head>
    <script src='file/js/render.js'></script>
    <style>
        @font-face {
            font-family: DejaVuSansMono;
            src: url("../file/fonts/DejaVuSansMono.ttf")
        }
        @font-face {
            font-family: DejaVuSansMonoBold;
            src: url("../file/fonts/DejaVuSansMono-Bold.ttf")
        }
        body {
            font-family: DejaVuSansMono;
            background-color: lightyellow;
        }
    </style>
</head>
<body>
    <render id='render' data='{{ .data }}' />
</body>
</html>
